@import './variables.scss';

// Google font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #101010;
    color: #fff;
    font-family: $mainFont;
}

.container {
    width: $sizeContainer;
    margin: 50px auto;
    border: 1px solid #fff;
}